doctype 5
html(lang="en")
  head
    title #{title}
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="/JSONFormatter.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    script(src="/JSONFormatter.js")
    style
      code.max-30 {
        max-width:  30ex;
        overflow:   hidden;
        display:    inline-block;
      }
      code.max-40 {
        max-width:  40ex;
        overflow:   hidden;
        display:    inline-block;
      }
      code.max-50 {
        max-width:  50ex;
        overflow:   hidden;
        display:    inline-block;
      }
      .collapse-next {
        cursor:     pointer;
      }
      .collapse-next-target {
        display:    none;
      }
      .tooltip-inner {
        max-width:  300px;
      }
    script
      $(function() {
        $('[data-toggle="tooltip"]').tooltip({placement: 'auto'});
        $('.collapse-next').click(function() {
          $(this).next().toggle();
        });
        $('[data-json]').each(function(index) {
          $(this).jsonFormat(JSON.stringify($(this).data('json')));
        });
      });
  body
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
      .navbar-header
        a.navbar-brand(href="/") Build Coordinator
      ul.nav.navbar-nav
        for link in menu
          if link.active
            li.active
              a(href="#{link.url}") #{link.name}
          else
            li
              a(href="#{link.url}") #{link.name}
      unless hide_search
        form(role='search').navbar-form.navbar-right.search
          .form-group
            input(name="q", type='text', placeholder="email/revision...").form-control
          input(type='submit', style='margin-left: 5px', value="Search").btn.btn-default
    .container
      .row
        .col-md-12.page-header
            h1 #{title}
      block content
          

